header {
    padding: 0 9rem;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav > a {
    padding: .6rem 1.5rem;
    margin: 0 1.5rem;
    border-radius: .6rem;
    font-size: 1.2rem;
    transition: 300ms ease-out;
}

.link {
    background-color: var(--quaternary);
    color: var(--tertiary);
}
.link:hover {
    background-color: var(--tertiary);
    color: var(--quaternary);
}

.logout {
    margin-right: 0;
    background-color: var(--logout);
    color: var(--secondary);
}
.logout:hover {
    filter: brightness(1.3);
}

#badges {
    padding: .1rem .9rem .1rem .6rem;
    margin: 0 7.5rem;
    border-radius: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--quaternary);;
}

#b-icon {
    width: 2.4rem;
    margin-right: .75rem;
}

#b-number {
    color: var(--tertiary);
    cursor: default;
    white-space: nowrap;
}

#date-section {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#date-section form {
    background-color: #1E1048B0;
}

#date-section form input {
    background-color: var(--primary);
    color: var(--secondary);
}

#date-section form button {
    margin-bottom: .45rem;
    background-color: var(--data);
    color: var(--secondary);
}

.main {
    display: flex;
    justify-content: center;
}

#m-department {
    padding: 0 9rem;
}

#m-reception {
    padding: 0 4.5rem;
}

.visits {
    width: 100%;
    margin-top: 4.5rem;
    border-collapse: collapse;
    color: var(--secondary);
}

.department * {
    font-size: 1rem;
}

.reception * {
    font-size: .9rem;
}

.visits th {
    padding: .6rem 0;
    font-weight: 700;
}
.visits th:first-child {
    border-top-left-radius: .6rem;
}
.visits th:last-child {
    border-top-right-radius: .6rem;
}
.department th:nth-child(1) {
    width: 16%;
}
.department th:nth-child(2) {
    width: 24%;
}
.department th:nth-child(3),
.department th:nth-child(4),
.department th:nth-child(5),
.department th:nth-child(6),
.department th:nth-child(7),
.department th:nth-child(8) {
    width: 10%;
}
.reception th:nth-child(1),
.reception th:nth-child(3) {
    width: 9%;
}
.reception th:nth-child(2),
.reception th:nth-child(4) {
    width: 15%;
}
.reception th:nth-child(5),
.reception th:nth-child(6),
.reception th:nth-child(7),
.reception th:nth-child(8) {
    width: 8%;
}
.reception th:nth-child(9) {
    width: 3.5%;
}
.reception th:nth-child(10) {
    width: 16.5%;
}

.visits thead {
    background-color: var(--data);
}

.visits tbody tr {
    transition: 300ms ease-out;
}
.visits tbody tr:nth-child(even) {
    background-color: var(--primary-darker);
}
.visits tbody tr:hover {
    background-color: var(--tertiary);
    color: var(--quaternary);
}

.visits td {
    padding: .6rem;
}
.visits td:nth-child(1),
.visits td:nth-child(2),
.reception td:nth-child(3),
.reception td:nth-child(4) {
    text-align: start;
}
.department td:nth-child(3),
.department td:nth-child(4),
.department td:nth-child(5),
.department td:nth-child(6),
.reception td:nth-child(5),
.reception td:nth-child(6),
.reception td:nth-child(7),
.reception td:nth-child(9) {
    text-align: center;
}
.department td:nth-child(8) {
    position: relative;
}
.reception td:nth-child(10) {
    position: relative;
}

.expected-end {
    color: #FFFFFF30;
}

.status-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.department .status-container {
    padding-left: .4rem;
}

.reception .status-container {
    padding-left: .6rem;
}

.status {
    width: .3rem;
    height: .3rem;
    margin-right: .6rem;
    border-radius: .15rem;
}

.department .pending {
    background-color: var(--pending);
    filter: drop-shadow(0 0 .2rem var(--pending));
}

.department .in-progress {
    background-color: var(--in-progress);
    filter: drop-shadow(0 0 .2rem var(--in-progress));
}

.department .completed {
    background-color: var(--completed);
    filter: drop-shadow(0 0 .2rem var(--completed));
}

.reception .pending {
    background-color: var(--pending);
    filter: drop-shadow(0 0 .15rem var(--pending));
}

.reception .in-progress {
    background-color: var(--in-progress);
    filter: drop-shadow(0 0 .15rem var(--in-progress));
}

.reception .completed {
    background-color: var(--completed);
    filter: drop-shadow(0 0 .15rem var(--completed));
}

.department form {
    padding: 0;
    margin: 0;
}

.reception form {
    padding: 0;
    margin: 0;
}

.action {
    padding: .15rem .45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary);
}

.department .action {
    font-size: .96rem;
}

.reception .action {
    font-size: .87rem;
}

.delete-visit {
    background-color: var(--delete-visit);
}

.end-visit {
    background-color: var(--end-visit);
}

.assign-badge {
    background-color: var(--assign-badge);
}

#no-visits {
    margin-top: 7.5rem;
    font-size: 1.5rem;
    color: var(--tertiary);
}
