<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoDrive | Nuova visita</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/inserts.css">
</head>

<body>
    <header>
        <h1 class="unselectable">Info<span>Drive</span></h1>
    </header>

    <main>
        <h2>Nuova visita</h2>
        <form action="/department/add-visit" method="post">
            <div class="field">
                <label for="visitor">Visitatore</label>
                <select name="visitor" id="visitor">
                    <option value="" selected disabled>Seleziona il visitatore</option>
                    {#for visitor in visitors}
                        <option value="{visitor.id}">{visitor.firstName} {visitor.lastName}</option>
                    {/for}
                </select>
            </div>
            <div class="field">
                <label for="employee">Dipendente</label>
                <select name="employee" id="employee">
                    <option value="" selected disabled>Seleziona il dipendente</option>
                    {#for employee in employees}
                        <option value="{employee.id}">{employee.firstName} {employee.lastName}</option>
                    {/for}
                </select>
            </div>
            <div class="field">
                <label for="date">Giorno</label>
                <input type="date" name="date" id="date">
            </div>
            <div class="field">
                <label for="start-time">Ora di inizio</label>
                <input type="time" name="start-time" id="start-time">
            </div>
            <div class="field">
                <label for="end-time">Ora di fine</label>
                <input type="time" name="end-time" id="end-time">
            </div>
            <button type="submit">Aggiungi</button>
            <a href="/department" id="go-back">Indietro</a>
        </form>
    </main>

    <script src="/assets/scripts/constants.js" ></script>
    <script src="/assets/scripts/functions.js"></script>
    <script src="/assets/scripts/script.js" ></script>
    {#if errorMessage != null}
        <script>
            renderFeedback(FEEDBACK_ERROR, "{errorMessage.replaceAll("\n", "<br>").raw}", FEEDBACK_PARENT, FEEDBACK_REFERENCE);
        </script>
    {/if}
</body>
</html>
