<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoDrive | Dashboard</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/department.css">
    <script src="/assets/scripts/constants.js" defer></script>
    <script src="/assets/scripts/functions.js" defer></script>
    <script src="/assets/scripts/script.js" defer></script>
    <script src="/assets/scripts/department.js" defer></script>
</head>

<body>
    <header>
        <h1 class="unselectable">Info<span>Drive</span></h1>
        <nav>
            <a href="department/add-visit" class="link">Aggiungi visita</a>
            <a href="department/add-visitor" class="link">Aggiungi visitatore</a>
            <a href="/logout" class="logout">Esci</a>
        </nav>
    </header>

    <section id="date-section">
        <form action="/util/filter-visits/department" method="post">
            <label for="date">Seleziona una data:</label>
            <input type="date" name="date" id="date">
            <button type="submit">Visualizza</button>
        </form>
    </section>
    <main id="m-department" class="main">
        <table class="visits department">
            <thead>
                <tr>
                    <th>Visitatore</th>
                    <th>Email</th>
                    <th>Data</th>
                    <th>Ora d'inizio</th>
                    <th>Durata prevista</th>
                    <th>Ora di fine</th>
                    <th>Stato</th>
                    <th>Azione</th>
                </tr>
            </thead>
            <tbody>
                {#for item in visitWithVisitor}
                    <tr>
                        <td>{item.visitor.firstName} {item.visitor.lastName}</td>
                        <td>{item.visitor.email}</td>
                        <td>{item.visit.date}</td>
                        <td>{item.visit.expectedStartingHour}</td>
                        <td>{item.visit.expectedDuration} min</td>
                        {#if item.visit.status.toString().equals("FINITA")}
                            <td class="expected-end">{item.visit.expectedEndingHour}</td>
                        {#else}
                            <td>{item.visit.actualEndingHour}</td>
                        {/if}
                        <td>
                            <div class="status-container">
                                {#if item.visit.status.toString().equals("NON_INIZIATA")}
                                    <div class="status pending"></div>
                                    In attesa
                                {/if}
                                {#if item.visit.status.toString().equals("INIZIATA")}
                                    <div class="status in-progress"></div>
                                    In corso
                                {/if}
                                {#if item.visit.status.toString().equals("FINITA")}
                                    <div class="status completed"></div>
                                    Completato
                                {/if}
                            </div>
                        </td>
                        <td>
                            {#if item.visit.status.toString().equals("NON_INIZIATA")}
                                <form action="/department/delete-visit" method="post">
                                    <input type="hidden" value="{item.visit.id}" name="visit-id">
                                    <button class="action delete-visit">Elimina</button>
                                </form>
                            {/if}
                        </td>
                    </tr>
                {/for}
            </tbody>
        </table>
        <!-- <div id="no-visits">Nessuna visita prenotata.</div> -->
    </main>
</body>
</html>
