<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoDrive | Accedi</title>
    <link rel="stylesheet" href="../META-INF/resources/assets/styles/style.css">
    <link rel="stylesheet" href="../META-INF/resources/assets/styles/login.css">
    <script src="../META-INF/resources/assets/scripts/constants.js" defer></script>
    <script src="../META-INF/resources/assets/scripts/functions.js" defer></script>
    <script src="../META-INF/resources/assets/scripts/script.js" defer></script>
</head>

<body>
    <header>
        <h1 class="unselectable">Info<span>Drive</span></h1>
    </header>

    <main>
        <h2>Accedi</h2>
        <form action="login.html" method="post">
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Accedi</button>
        </form>
    </main>
</body>
</html>
