<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoDrive | Accedi</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/login.css">
</head>

<body>

    <header>
        <h1 class="unselectable">Info<span>Drive</span></h1>
    </header>

    <main>
        <h2>Accedi</h2>
        <form action="/" method="post">
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Accedi</button>
        </form>
    </main>
    <script src="/assets/scripts/constants.js" ></script>
    <script src="/assets/scripts/functions.js"></script>
    <script src="/assets/scripts/script.js" ></script>
    {#if errorMessage != null}
        <script>
            renderFeedback(FEEDBACK_ERROR, "{errorMessage.replaceAll("\n", "<br>").raw}", FEEDBACK_PARENT, FEEDBACK_REFERENCE);
        </script>
    {/if}
</body>
</html>
