<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoDrive | Dashboard</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/department.css">
    <script src="../META-INF/resources/assets/scripts/constants.js" defer></script>
    <script src="../META-INF/resources/assets/scripts/functions.js" defer></script>
    <script src="../META-INF/resources/assets/scripts/script.js" defer></script>
    <script src="../META-INF/resources/assets/scripts/department.js" defer></script>
</head>

<body>
    <header>
        <h1 class="unselectable">Info<span>Drive</span></h1>
        <nav>
             <div id="badges">
                <img src="/assets/images/badge.jpg" alt="Badges" id="b-icon" class="unselectable">
                <div id="b-number"><span id="b-available" title="Available badges">9</span> / <span id="b-total" title="Total badges">10</span></div>
             </div>
            <a href="/logout" class="logout">Esci</a>
        </nav>
    </header>

    <section id="date-section">
        <form action="/util/filter-visits/reception" method="post">
            <label for="date">Seleziona una data:</label>
            <input type="date" name="date" id="date">
            <button type="submit">Visualizza</button>
        </form>
    </section>

    <main id="m-reception" class="main">
        <table class="visits reception">
            <thead>
                <tr>
                    <th>Visitatore</th>
                    <th>Email visitatore</th>
                    <th>Dipendente</th>
                    <th>Email dipendente</th>
                    <th>Ora d'inizio</th>
                    <th>Durata prevista</th>
                    <th>Ora di fine</th>
                    <th>Stato</th>
                    <th>Badge</th>
                    <th>Azione</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Marco Rossi</td>
                    <td>marco.rossi@example.com</td>
                    <td>Giulio Verdi</td>
                    <td>giulio.verdi@example.com</td>
                    <td>10:00</td>
                    <td>120 min</td>
                    <td class="expected-end">12:00</td>
                    <td>
                        <div class="status-container">
                            <div class="status in-progress"></div>
                            In corso
                        </div>
                    </td>
                    <td>B001</td>
                    <td>
                        <button class="action end-visit">Termina visita</button>
                    </td>
                </tr>
                <tr>
                    <td>Giulio Verdi</td>
                    <td>giulio.verdi@example.com</td>
                    <td>Roberto Blu</td>
                    <td>roberto.blu@example.com</td>
                    <td>15:00</td>
                    <td>180 min</td>
                    <td class="expected-end">18:00</td>
                    <td>
                        <div class="status-container">
                            <div class="status pending"></div>
                            In attesa
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <button class="action assign-badge">Assegna badge</button>
                    </td>
                </tr>
                <tr>
                    <td>Roberto Blu</td>
                    <td>roberto.blu@example.com</td>
                    <td>Marco Rossi</td>
                    <td>marco.rossi@example.com</td>
                    <td>09:00</td>
                    <td>90 min</td>
                    <td>10:25</td>
                    <td>
                        <div class="status-container">
                            <div class="status completed"></div>
                            Completato
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!-- <div id="no-visits">Nessuna visita prenotata.</div> -->
    </main>
</body>
</html>
