<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoDrive | Dashboard</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/department.css">
    <script src="/assets/scripts/department.js" defer></script>
</head>

<body>
    <header>
        <h1 class="unselectable">Info<span>Drive</span></h1>
        <nav>
             <div id="badges">
                <img src="/assets/images/badge.jpg" alt="Badges" id="b-icon" class="unselectable">
                <div id="b-number">
                    <span id="b-available" title="Available badges">{badgeStats.available}</span>
                    /
                    <span id="b-total" title="Total badges">{badgeStats.total}</span>
                </div>
             </div>
            <a href="/logout" class="logout">Esci</a>
        </nav>
    </header>

    <section id="date-section">
        <form action="/util/filter-visits/reception" method="post">
            <label for="date">Seleziona una data:</label>
            <input type="date" name="date" id="date">
            <button type="submit">Visualizza</button>
        </form>
    </section>

    <main id="m-reception" class="main">
        <table class="visits reception">
            <thead>
                <tr>
                    <th>Visitatore</th>
                    <th>Email visitatore</th>
                    <th>Dipendente</th>
                    <th>Data</th>
                    <th>Ora d'inizio</th>
                    <th>Durata prevista</th>
                    <th>Ora di fine</th>
                    <th>Stato</th>
                    <th>Badge</th>
                    <th>Azione</th>
                </tr>
            </thead>
            <tbody>

                {#for item in visitWithVisitorWithEmployees}
                    <tr>
                        <td>{item.visitor.firstName} {item.visitor.lastName}</td>
                        <td>{item.visitor.email}</td>
                        <td>{item.employee.firstName} {item.employee.lastName}</td>
                        <td>{item.visit.date}</td>
                        <td>{item.visit.expectedStartingHour}</td>
                        <td>{item.visit.expectedDuration} min</td>
                        <td class="expected-end">{item.visit.expectedEndingHour}</td>
                        <td>
                            <div class="status-container">
                                {#if item.visit.status.toString().equals("NON_INIZIATA")}
                                    <div class="status pending"></div>
                                    In attesa
                                {/if}
                                {#if item.visit.status.toString().equals("INIZIATA")}
                                    <div class="status in-progress"></div>
                                    In corso
                                {/if}
                                {#if item.visit.status.toString().equals("FINITA")}
                                    <div class="status completed"></div>
                                    Completato
                                {/if}
                            </div>
                        </td>
                        <td>{item.visit.badgeCode}</td>
                        <td>
                            {#if item.visit.status.toString().equals("NON_INIZIATA")}
                                <form action="/reception/assign-badge" method="post">
                                    <input type="hidden" value="{item.visit.id}" name="visit-id">
                                    <button class="action assign-badge">Assegna badge</button>
                                </form>
                            {/if}
                            {#if item.visit.status.toString().equals("INIZIATA")}
                                <form action="/reception/close-visit" method="post">
                                    <input type="hidden" value="{item.visit.id}" name="visit-id">
                                    <button class="action end-visit">Termina visita</button>
                                </form>
                            {/if}
                        </td>
                    </tr>
                {/for}
            </tbody>
        </table>
        <!-- <div id="no-visits">Nessuna visita prenotata.</div> -->
    </main>
    <script src="/assets/scripts/constants.js" ></script>
    <script src="/assets/scripts/functions.js"></script>
    <script src="/assets/scripts/script.js" ></script>
    {#if errorMessage != null}
        <script>
            renderFeedback(FEEDBACK_ERROR, "{errorMessage.replaceAll("\n", "<br>").raw}", FEEDBACK_PARENT, FEEDBACK_REFERENCE);
        </script>
    {/if}
</body>
</html>
