<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoDrive | Nuova visita</title>
    <link rel="stylesheet" href="../../META-INF/resources/assets/styles/style.css">
    <link rel="stylesheet" href="../../META-INF/resources/assets/styles/inserts.css">
    <script src="../../META-INF/resources/assets/scripts/constants.js" defer></script>
    <script src="../../META-INF/resources/assets/scripts/functions.js" defer></script>
    <script src="../../META-INF/resources/assets/scripts/script.js" defer></script>
</head>

<body>
    <header>
        <h1 class="unselectable">Info<span>Drive</span></h1>
    </header>

    <main>
        <h2>Nuova visita</h2>
        <form action="add-visit.html" method="post">
            <div class="field">
                <label for="visitor">Visitatore</label>
                <select name="visitor" id="visitor">
                    <option value="" selected disabled>Seleziona il visitatore</option>
                </select>
            </div>
            <div class="field">
                <label for="employee">Dipendente</label>
                <select name="employee" id="employee">
                    <option value="">Valentino Rossi</option>
                </select>
            </div>
            <div class="field">
                <label for="date">Giorno</label>
                <input type="date" name="date" id="date">
            </div>
            <div class="field">
                <label for="time">Orario</label>
                <input type="time" name="time" id="time">
            </div>
            <div class="field">
                <label for="duration">Durata in minuti</label>
                <input type="number" name="duration" id="duration">
            </div>
            <button type="submit">Aggiungi</button>
            <a href="../department.html" id="go-back">Indietro</a>
        </form>
    </main>
</body>
</html>
